<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Initially created with Inkscape (http://www.inkscape.org/)
  Modified by hand afterwards
  @author Todd Wolfson <todd@twolfson.com>
-->

<svg
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   width="1020"
   height="760"
   id="mainSvg"
   version="1.1">
  <g
     id="svgWrapper">
    <rect
       style="{{> blackStroke}}"
       width="1020"
       height="760"
       x="0"
       y="0"
       id="wrapperBorder" />
    <g
      id="topBarGroup">
      <rect
         style="{{> blackRect}}"
         id="topBar"
         width="1020"
         height="50"
         x="0"
         y="0" />
      <text
         xml:space="preserve"
         style="font-size:24px;fill:#ffffff;{{> sansserif}}"
         id="projectName"
         x="340"
         y="35">Project Name</text>
    </g>
    <rect
       style="fill:#ffffff;stroke:#4d4d4d"
       width="280"
       height="140"
       x="30"
       y="0"
       id="logoBg" />
    <text
       xml:space="preserve"
       style="font-size:34px;{{> sansserif}}"
       x="70"
       y="80"
       id="logo">Logo Here</text>
    <text
       xml:space="preserve"
       style="font-size:18px;{{> sansserif}}"
       x="40"
       y="170">Possible Colors</text>
    <text
       xml:space="preserve"
       style="font-size:18px;{{> sansserif}}"
       x="340"
       y="75">Style Tile</text>
    <text
       xml:space="preserve"
       style="font-size:18px;{{> serif}}"
       x="340"
       y="100">version: 1</text>
    <text
       xml:space="preserve"
       style="font-size:11px;fill:#666666;{{> sansserif}}"
       x="520"
       y="230">Font: Name #hexcode</text>
    <text
       xml:space="preserve"
       style="font-size:11px;fill:#666666;{{> sansserif}}"
       x="520"
       y="470">Font: Name #hexcode</text>
    <text
       xml:space="preserve"
       style="font-size:22px;{{> sansserif}}"
       x="520"
       y="275">This is an Example of a Sub Head</text>
    <text
       xml:space="preserve"
       style="font-size:11px;fill:#666666;{{> sansserif}}"
       x="520"
       y="300">Font: Name #hexcode</text>
    <switch>
    <foreignObject
      x="520"
      y="320"
      width="500"
      height="400">
    <p xmlns="http://www.w3.org/1999/xhtml" style="font-size:11px;{{> sansserif}}">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad  minim veniam, quis nostrud exercitation ulliam corper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel feugait nulla facilisi.</p>
    </foreignObject>
    <flowRoot
       xml:space="preserve"
       style="font-size:11px;{{> sansserif}}">
       <flowRegion
         style="fill:#000000">
         <use
           x="0"
           y="0"
           style="fill:#000000"
           width="1020"
           height="760" />
      </flowRegion>
      <flowPara
         style="font-size:11px;line-height:200%;fill:#000000">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad  minim veniam, quis nostrud exercitation ulliam corper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel feugait nulla facilisi.</flowPara>
    </flowRoot>
    <text x="520" y="310">Your viewer does not support HTML or SVG flow</text>
    </switch>
    <text
       xml:space="preserve"
       style="font-size:11px;{{> sansserif}}"
       x="520"
       y="500">This is an example of a Text Link »</text>
    <g
      id="adjectiveGroup">
      <text
         xml:space="preserve"
         style="font-size:15px;{{> sansserif}}"
         x="520"
         y="550"
         id="ajectiveHeader">Adjectives</text>
      <g
        id="adjectives">
        <text
           xml:space="preserve"
           style="font-size:32px;{{> sansserif}}"
           x="520"
           y="600">Lorem</text>
        <text
           xml:space="preserve"
           style="font-size:32px;{{> sansserif}}"
           x="660"
           y="600">Ipsum</text>
        <text
           xml:space="preserve"
           style="font-size:32px;{{> sansserif}}"
           x="820"
           y="600">Dolor</text>
        <text
           xml:space="preserve"
           style="font-size:32px;{{> sansserif}}"
           x="520"
           y="650">Sit</text>
        <text
           xml:space="preserve"
           style="font-size:32px;{{> sansserif}}"
           x="660"
           y="650">Amet</text>
        <text
           xml:space="preserve"
           style="font-size:32px;{{> sansserif}}"
           x="820"
           y="650">Magna</text>
      </g>
    </g>
    <g
      id="colorGroup">
      <g
        id="colors">
        <g>
          <rect
             style="{{> blackStroke}}"
             {{> smallOutside}}
             x="40"
             y="200" />
          <rect
             style="{{> blackRect}}"
             {{> smallSquare}}
             x="45"
             y="205" />
        </g>
        <g>
          <rect
             style="{{> blackStroke}}"
             {{> smallOutside}}
             x="130"
             y="200" />
          <rect
             style="{{> blackRect}}"
             {{> smallSquare}}
             x="135"
             y="205" />
        </g>
        <g>
          <rect
             style="{{> blackStroke}}"
             {{> smallOutside}}
             x="230"
             y="200" />
          <rect
             style="{{> blackRect}}"
             {{> smallSquare}}
             x="235"
             y="205" />
        </g>
        <g>
          <rect
             style="{{> blackStroke}}"
             {{> smallOutside}}
             x="330"
             y="200" />
          <rect
             style="{{> blackRect}}"
             {{> smallSquare}}
             x="335"
             y="205" />
        </g>
        <g>
          <rect
             style="{{> blackStroke}}"
             {{> smallOutside}}
             x="430"
             y="200" />
          <rect
             style="{{> blackRect}}"
             {{> smallSquare}}
             x="435"
             y="205" />
        </g>
      </g>
    </g>
    <g
      id="textureGroup">
      <text
         xml:space="preserve"
         style="font-size:16px;{{> sansserif}}"
         x="40"
         y="320"
         id="textureHeader">Textures</text>
      <g
        id="textures">
        <g>
          <rect
             style="{{> blackStroke}}"
             {{> largeOutside}}
             x="40"
             y="350" />
          <rect
             style="{{> blackRect}}"
             {{> largeSquare}}
             x="45"
             y="355" />
        </g>
        <g>
          <rect
             style="{{> blackStroke}}"
             {{> largeOutside}}
             x="200"
             y="350" />
          <rect
             style="{{> blackRect}}"
             {{> largeSquare}}
             x="205"
             y="355" />
        </g>
        <g>
          <rect
             style="{{> blackStroke}}"
             {{> largeOutside}}
             x="360"
             y="350" />
          <rect
             style="{{> blackRect}}"
             {{> largeSquare}}
             x="365"
             y="355" />
        </g>
      </g>
    </g>
    <g
      id="buttonGroup">
      <g>
        <rect
           style="{{> blackRect}}"
           width="220"
           height="45"
           x="40"
           y="525" />
        <text
           xml:space="preserve"
           style="font-size:11px;fill:#ffffff;{{> sansserif}}"
           x="60"
           y="550">This is an example of a Button</text>
      </g>
      <g>
        <rect
           style="{{> blackRect}}"
           width="220"
           height="45"
           x="280"
           y="525" />
        <text
           xml:space="preserve"
           style="font-size:11px;fill:#ffffff;{{> sansserif}}"
           x="300"
           y="550">Submit Button Example Here</text>
      </g>
    </g>
    <g
      id="footerLinks">
      <text
         xml:space="preserve"
         style="font-size:15px;fill:#808080;{{> serif}}"
         x="40"
         y="700">http://www.styletil.es</text>
      <text
         xml:space="preserve"
         style="font-size:15px;fill:#808080;{{> serif}}"
         x="40"
         y="730">Template by @Samanthatoy</text>
      <text
         xml:space="preserve"
         style="font-size:15px;fill:#808080;{{> serif}}"
         x="250"
         y="730">Converted to SVG by @twolfsn</text>
    </g>
    <text
       xml:space="preserve"
       style="font-size:17px;fill:#b3b3b3;{{> sansserif}}"
       x="520"
       y="730">Be creative, don't just use this template as-is!</text>
    <text
       xml:space="preserve"
       style="font-size:30px;{{> sansserif}}"
       x="520"
       y="210">This is an Example of a Header</text>
  </g>
</svg>
